{% extends 'base.html' %}
{% block content %}


<div class="content container-fluid">

    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Doctor Details</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Dashboard</a></li>
    <li class="breadcrumb-item active">Doctor Details</li>
    </ul>
    </div>
   
    </div>
    </div>
    
    <div class="row">
    <div class="col-sm-12">
    <div class="card card-table">
    <div class="card-body">
       
    <div class="table-responsive">
        <table class="table table-hover table-center mb-0 datatable">
            
              <tr>
                  
                  <th>Name of Doctor</th>
                  <td>{{doctor_details.name}}</td>
                  <th>Contact Number</th>
                  <td>{{doctor_details.mobilenumber}}</td>
                </tr>
                <tr>
                  
                  <th>Email Address</th>
                  <td>{{i.admin.email}}</td>
                  <th>Doctor Specialization</th>
                  <td>{{doctor_details.specialization}}</td>
                </tr>
                <tr>
                  
                  <th>Profile Pic</th>
                  
                  <td><img title="pic" src="{{doctor_details.profile_pic.url}}" width="50" height="50" alt="image"></td>
                 
                </tr>
          </table>
          <div class="btn btn-primary"><a href="{% url 'doc_list' %}">Back</a></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>


{% endblock %}