<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Students</h1>
    <a href="{% url 'student' %}">Add</a>
    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Hall Ticket</th>
            <th>Branch</th>
            <th>Year</th>
        </tr>
        {% for student in student %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.contact }}</td>
            <td>{{ student.hallticket }}</td>
            <td>{{ student.branch }}</td>
            <td>{{ student.year }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>