{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <h2>Patient Registration</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label>Username</label>
      <input type="text" placeholder="Enter Username" name="username" class="form-control" required autocomplete="off">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" placeholder="Enter Your Email" name="email" class="form-control" required autocomplete="off">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" placeholder="Enter your password" name="password" class="form-control" required autocomplete="new-password">
    </div>
    <button type="submit" class="btn btn-primary mt-2">Register</button>
  </form>
</div>
{% endblock %}
