{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Signup Page</title>
    <link rel="stylesheet" href="{% static 'css/stylesss.css' %}">
</head>
<body>
    <div class="container">
        <!-- Left Side Image -->
        <div class="left-side">
                        <img src="{% static 'assets/img/login.jpg' %}" alt="Login Image">

        </div>

        <!-- Right Side Form -->
        <div class="right-side">
            <form class="login-form" method="post">
                  {% for message in messages %}
            <p class="msg">{{message}}</p>
            {% endfor %}
                {% csrf_token %}
                <h2>Signup</h2>
                <input type="text" name="username" placeholder="Username"><br>                
                <input type="email" name="email" placeholder="Email"><br>
                <input type="password" name="password" placeholder="Password" autocomplete="new-password"><br>
                <button type="submit">Signup</button>
                <p><a href="{% url 'login' %}">Login</a></p>

            </form>
        </div>
    </div>
</body>
</html>
